<div class="also-like">
  <h2 class="title">Featured Products</h2>
  <div class="products-wrap container--slim">
    <div class="product-item">
      <a href="https://schoolyardsnacks.com/products/cereal?ut=articleD" class="product-image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/fruity2.png?v=1639508382" alt="product image">
      </a>
      <div class="product-title">Fruity</div>
      <div class="product-subtitle">Keto Cereal</div>
      <div class="product-info">Sugar Free, 1g Net Carb, 100 Calories</div>
      <a class="btn" href="https://schoolyardsnacks.com/products/cereal?ut=articleD">Shop Now</a>
    </div>
    <div class="product-item">
      <a href="https://schoolyardsnacks.com/products/cereal?ut=articleD" class="product-image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cookies_and_cream.png?v=1639508340" alt="product image">
      </a>
      <div class="product-title">Cookies & Cream</div>
      <div class="product-subtitle">Keto Cereal</div>
      <div class="product-info">Sugar Free, 1g Net Carb, 100 Calories</div>
      <a class="btn" href="https://schoolyardsnacks.com/products/cereal?ut=articleD">Shop Now</a>
    </div>
    <div class="product-item">
      <a href="https://schoolyardsnacks.com/products/keto-puffs?ut_content=articleD" class="product-image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/sour_cream_da73e0c2-00c2-4e34-8b42-22764585d804.png?v=1633355029" alt="product image">
      </a>
      <div class="product-title">Sour Cream & Onion</div>
      <div class="product-subtitle">Keto Puffs</div>
      <div class="product-info">Grain Free, 1g Net Carb, 100 Calories</div>
      <a class="btn" href="https://schoolyardsnacks.com/products/keto-puffs?ut_content=articleD">Shop Now</a>
    </div>
  </div>
</div>