<style>
  .also-like {
    margin-top: 0;
    margin-bottom: 30px;
  }
</style>

<div class="also-like">
  <h2 class="title">You Might Also Like</h2>
  <div class="products-wrap container--slim">
    <div class="product-item">
      <a
        href="https://schoolyardsnacks.com/products/keto-cheese-puffs-6-family-size-bags"
        class="product-image"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cheddar_190c99ab-b1d9-457d-9c7f-369fafa2c95d.png?v=1633355029"
          alt="product image"
        >
      </a>
      <div class="product-title">Cheddar Cheese</div>
      <div class="product-subtitle">Keto Puffs</div>
      <div class="product-info">Grain Free, 2g Net Carbs, 115 Calories</div>
      <a
        class="btn"
        href="https://schoolyardsnacks.com/products/keto-cheese-puffs-6-family-size-bags "
        >Shop Now</a
      >
    </div>
    <div class="product-item">
      <a
        href="https://schoolyardsnacks.com/products/keto-cheese-puffs-6-family-size-bags"
        class="product-image"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/fiery5.png?v=1639508365"
          alt="product image"
        >
      </a>
      <div class="product-title">BBQ</div>
      <div class="product-subtitle">Keto Puffs</div>
      <div class="product-info">Grain Free, 2g Net Carbs, 110 Calories</div>
      <a
        class="btn"
        href="https://schoolyardsnacks.com/products/keto-cheese-puffs-6-family-size-bags"
        >Shop Now</a
      >
    </div>
    <div class="product-item">
      <a
        href="https://schoolyardsnacks.com/products/keto-cheese-puffs-6-family-size-bags"
        class="product-image"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jalapeno_a899425c-dbfe-4016-b216-e1a11e9cceaa.png?v=1639508395"
          alt="product image"
        >
      </a>
      <div class="product-title">Fiery Hot</div>
      <div class="product-subtitle">Keto Puffs</div>
      <div class="product-info">Grain Free, 4g Net Carbs, 130 Calories</div>
      <a
        class="btn"
        href="https://schoolyardsnacks.com/products/keto-cheese-puffs-6-family-size-bags"
        >Shop Now</a
      >
    </div>
  </div>
</div>
