<!--  Cereal Modal  -->
<div class="upgrade-modal modal-wrapper blocker current" id="apple_modal">
  <div id="12bag-upgrade-modal" class="modal grid" data-variant-id="29526468034675" style="display: inline-block;">
    <h2>You’ve Unlocked Our Secret Flavor, Apple Pie!</h2>
    <h3 class="">Offer Expires in <span id="apple_modal_timer"></span></h3>
    <div class="img_wrap">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/arrow_left.png?v=1615955544" alt="">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/apple_pie_bowl_bag_snowflake.jpg?v=1615955456" alt="">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="lazyload" data-src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/arrow_right.png?v=1615955544" alt="">
    </div>
    <p>This sweet apple cinnamon flavor is not available anywhere else! 
      Each bag contains 1g net carb, 16g protein, 100 calories, and is sugar-free.
    </p>
    <h2>$29.99 (12 Bags)</h2>
    <a href="#" class="btn btn--block" data-apple-variant-add id="apple">Yes! Add to Cart</a>
    <a class="btn btn--block" data-modal-close href="/checkout" id="modal-close-button" rel="modal:close">No Thanks</a>
    <a class="" data-modal-close href="/checkout" id="modal-close-button-x" rel="modal:close">×</a>
  </div>
</div>