<div class="enjoy-cereal variant--a">
  <div class="enjoy-cereal-heading container">
    <h1 class="section-title center">It’s Not Just Breakfast! </br> 3 Ways To Enjoy Your Keto Cereal</h1>
    <span>Makes it easy to go from hungry to happy in a snap </span>
  </div>
  <div class="img-wrap container hide--mobile">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/d1.png?v=1649797349" alt="enjoy-cereal1">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/d2.png?v=1649797349" alt="enjoy-cereal2">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/d3.png?v=1649797349" alt="enjoy-cereal3">
  </div>
  <div class="img-wrap container hide--desktop">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/m1.png?v=1649797371" alt="enjoy-cereal1">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/m2.png?v=1649797371" alt="enjoy-cereal2">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/m3.png?v=1649797371" alt="enjoy-cereal3">
  </div>
</div>

<div class="enjoy-cereal variant--b">
  <div class="enjoy-cereal-heading container">
    <h1 class="section-title center">It’s Not Just Breakfast! </br> 3 Ways To Enjoy Your Keto Cereal</h1>
    <span>Makes it easy to go from hungry to happy in a snap </span>
  </div>
  <div class="img-wrap container hide--mobile">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/d1.png?v=1649797349" alt="enjoy-cereal1">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/d2v2.png?v=1649866205" alt="enjoy-cereal2">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/d3v2.png?v=1649866205" alt="enjoy-cereal3">
  </div>
  <div class="img-wrap container hide--desktop">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/m1.png?v=1649797371" alt="enjoy-cereal1">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/m2v2.png?v=1649866235" alt="enjoy-cereal2">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/m3v2.png?v=1649866234" alt="enjoy-cereal3">
  </div>
</div>