<div class="ik-cro-hero">
  <div class="hero__4_images variant--3">
    <a
      href="https://schoolyardsnacks.com/products/cereal"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cereal1_7fe543a0-6ba2-4ccb-8140-f61607fd0b93.png?v=1653071397">
      <span class="btn">Cereal</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/keto-puffs"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/puffs1.png?v=1653071397">
      <span class="btn">Cheese Puffs</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/keto-chocolate-peanut-butter-cups-buckeyes-6-pack-by-better-than-good-foods"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Selected_Mobile_-_Peanut_Butter_Cups_V4.png?v=1677610943">
      <span class="btn">PB Cups</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/sys-20-pieces-of-aloha-caramel-by-keto-krackd"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Aloha_Caramel_desktop.png?v=1671126478">
      <span class="btn">Aloha Caramel</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/fall-best-sellers-by-good-dees"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Baking_Mixes_v1.png?v=1664546010">
      <span class="btn">Baking Mixes</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/keto-krisp-by-keto-krisp%E2%84%A2"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Protein_Bars_mobile_v2_ec24bee5-dcc6-4b8e-b30c-f2293b371a40.png?v=1663941978">
      <span class="btn">Bars</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/variety-pack-pack-of-8-by-prevail-jerky"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Beef_Jerky_desktop_v1.png?v=1663345849">
      <span class="btn">Beef Jerky</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/keto-bread-by-kiss-my-keto"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Bread_Desktop.png?v=1681754748">
      <span class="btn">Bread</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/sys-10-pieces-of-pb-caramel-crunch-updated-by-keto-krackd"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Candy_Bars_desktop_v3.png?v=1665590951">
      <span class="btn">Candy Bars</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/variety-pack-by-wonder-monday"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cheesecake_desktop_1.png?v=1661528346">
      <span class="btn">Cheesecakes</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/low-carb-keto-friendly-cookies-no-sugar-added-gluten-free-and-grain-free"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/cookies_homepage_image.png?v=1657204235">
      <span class="btn">Cookies</span>
    </a>
    <a
      href="https://schoolyardsnacks.com/products/carro-only-multi-flavor-phat-crackers-5-pack-by-real-phat-foods"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/crackers_desktop.png?v=1658869871">
      <span class="btn">Crackers</span>
    </a>

    <a
      href="https://schoolyardsnacks.com/products/snack-owl-gummies-%E2%93%A5-by-pink-panda"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Gummies_desktop.png?v=1668772132">
      <span class="btn">Gummies</span>
    </a>

    <a
      href="https://schoolyardsnacks.com/products/new-max-sweets-snacks-low-carb-keto-max-mallow-atkins-paleo-diabetic-diet-friendly-health-snack-gluten-free-soy-free-zero-sugar-snack-non-gmo-ketogenic-6-pack-by-max-sweets"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/marshmallow_desktop.png?v=1658163376">
      <span class="btn">Marshmallows</span>
    </a>

    <a
      href="https://schoolyardsnacks.com/products/keto-crunchy-chips-by-mr-tortilla-by-mr-tortilla-store"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Tortilla_Chips_desktop.png?v=1669295263">
      <span class="btn">Tortilla Chips</span>
    </a>



    <a
      href="https://schoolyardsnacks.com/products/fusilli-sys-by-kaizen-food-company"
      class="hero_image-item"
    >
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/pasta_desktop.png?v=1660316407">
      <span class="btn">Pasta</span>
    </a>











  </div>
</div>
