<div class="ik-cro-hero">
  <div class="products-image">
    <img
      src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/products_desktop.png?v=1663744072"
      alt="products image"
    >
  </div>
</div>
