<div class="product-option-row product-option-row---sweet-salty" style="pointer-events: none; display: none;">
  <div class="option-name">Flavors Included</div>
  <div class="product-options product-options--flavors">
    <div class="product-option product-option--flavor product-option--selected">
      <div class="product-option__wrapper">
        <!-- false-->
        
        <label for="swatch-2-cheddar-cheese" class="product-option__label product-option__label--swatch">
          <div class="product-option__swatch">
            <img src="//cdn.shopify.com/s/files/1/0048/4330/7123/files/swatch-flavor-cheddar-cheese_200x200_crop_center.png?v=1593552875" class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/0048/4330/7123/files/swatch-flavor-cheddar-cheese_200x200_crop_center.png?v=1593552875" alt="Cheddar Cheese">
            <span class="product-option__swatch-selected"></span>
          </div>
          <span class="product-option__title">
            Cheddar Cheese
          </span>
          
        </label>
      </div>
    </div>

    <div class="product-option product-option--flavor product-option--selected">
      <div class="product-option__wrapper">
        <!-- false-->
        
        <label for="swatch-2-cheddar-jalapeno" class="product-option__label product-option__label--swatch">
          <div class="product-option__swatch">
            <img src="//cdn.shopify.com/s/files/1/0048/4330/7123/files/jalapeno_swatch_2_1_200x200_crop_center.png?v=1615411465" class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/0048/4330/7123/files/jalapeno_swatch_2_1_200x200_crop_center.png?v=1615411465" alt="Cheddar Jalapeño">
            <span class="product-option__swatch-selected"></span>
          </div>
          <span class="product-option__title">
            Cheddar Jalapeño
          </span>
          
        </label>
      </div>
    </div>    
      
    <div class="product-option product-option--flavor product-option--selected">
      <div class="product-option__wrapper">
        <!-- false-->
        
        <label for="swatch-2-bbq" class="product-option__label product-option__label--swatch">
          <div class="product-option__swatch">
            <img src="//cdn.shopify.com/s/files/1/0048/4330/7123/files/swatch-flavor-cocoa-bowl_200x200_crop_center.png?v=1593139464" class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/0048/4330/7123/files/swatch-flavor-cocoa-bowl_200x200_crop_center.png?v=1593139464" alt="BBQ">
            <span class="product-option__swatch-selected"></span>
          </div>
          <span class="product-option__title">
            Cocoa Cereal
          </span>
          
            
          
        </label>
      </div>
    </div>    
      
    
      
    <div class="product-option product-option--flavor product-option--selected">
      <div class="product-option__wrapper">
        <!-- false-->
        
        <label for="swatch-2-sour-cream-onion" class="product-option__label product-option__label--swatch">
          <div class="product-option__swatch">
            <img src="//cdn.shopify.com/s/files/1/0048/4330/7123/files/swatch-flavor-peanut-bowl_200x200_crop_center.png?v=1593139477" class=" ls-is-cached lazyloaded" data-src="//cdn.shopify.com/s/files/1/0048/4330/7123/files/swatch-flavor-peanut-bowl_200x200_crop_center.png?v=1593139477" alt="Sour Cream &amp; Onion">
            <span class="product-option__swatch-selected"></span>
          </div>
          <span class="product-option__title">
            Peanut Butter
          </span>
          
        </label>
      </div>
    </div>
  </div>
</div>