<header class="main-header">
	<div class="enclose">
		<div class="inner-head">
			<div class="mn-logo">
				<figure><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" class="lazy" data-src="{{ section.settings.logo | img_url:'master' }}" alt="image" /></figure>
			</div>
			<div class="head-butn">
				<a href="/products/keto-puffs">{{settings.sales-btn-text}}</a>
			</div>
		</div>
	</div>
</header>




{% schema %}
  {
    "name": "Advertorial Header",
    "settings": [{
   		"type": "image_picker",
   		"id":"logo",
		"label":"Logo"
	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
