<div class="ytlander-4 ytlander-section">
  <div class="container ">
    <h2 class="title">Join Over 300,000 People Already Enjoying The Guilt-free Crunch!</h2>  
    <div class="review-images hide--mobile">
      <div class="half-column">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/edge.png?v=1631932190" alt="review image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/laura.png?v=1646076129" alt="review image">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jennifer_1341f460-99ca-4cc2-915f-1f77b4697fb0.png?v=1646076129" alt="review image">
        
      </div>
      <div class="half-column">
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jewel.png?v=1631932205" alt="review image">    
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/alice.png?v=1631932247" alt="review image">    
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jess_1ac64593-878d-4f9c-ba05-cc63e7aa1fe2.png?v=1631932269" alt="review image">    
        <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/vicki.png?v=1646076129" alt="review image">
      </div>   
    </div>    
    <a href="#" class="btn btn-flavor-select hide--mobile">Try 4 Flavors Today</a>
    <div class="image-slider2 image-slider social hide--desktop">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/edge.png?v=1631932190" alt="review image">
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jewel.png?v=1631932205" alt="review image">    
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/laura.png?v=1646076129" alt="review image">
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/alice.png?v=1631932247" alt="review image">  
        </div>      
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jennifer_1341f460-99ca-4cc2-915f-1f77b4697fb0.png?v=1646076129" alt="review image">
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/jess_1ac64593-878d-4f9c-ba05-cc63e7aa1fe2.png?v=1631932269" alt="review image">    
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/vicki.png?v=1646076129" alt="review image">
        </div>
      </div>
      <div class="swiper__button swiper__button--next swiper__button--next2">{% include 'icon', handle: 'next' %}</div>
      <div class="swiper__button swiper__button--prev swiper__button--prev2">{% include 'icon', handle: 'prev' %}</div>
    </div>
    <a href="#" class="btn btn-flavor-select hide--desktop">Try 4 Flavors Today</a>    
  </div>
</div>

<script>
  imageSwiper = new Swiper($('.ytlander-4 .image-slider2'), {
    effect: 'slide',
    loop: true,
    centeredSlides: true,
    slidesPerView: 1,
    spaceBetween: 48,
    autoHeight: true,
    navigation: {
      nextEl: '.swiper__button--next2',
      prevEl: '.swiper__button--prev2',
    }
  });
</script>