<div class="ytlander-section cereal-free-story">
  <div class="container">
    <h2 class="title">So Why Are We Doing This?</h2>
    <div class="content">
      <p>Here’s the story…</p>
      <p>We’ve had over 300,000 fans start enjoying bowls of tasty cereal that’s “too tasty to be guilt-free” (yet it is!)</p>
      <p>Then two things started happening…</p>
      <p>First, it quickly became their favorite way to Outsmart Cravings.</p>
      <p>After all it’s 100% Keto Approved with only 1 to 2g net carbs. Obviously, no harm in enjoying bowls of this sugar-free pleasure food.</p>
      <img class="quote" src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/quote.png?v=1645886569" alt="quote">
      <p>But the Second thing that happened…</p>
      <p>Our inbox got flooded with messages like these:</p>
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/testimonial1.png?v=1645886569" class="testimonial-1">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/testimonial2.png?v=1645886569" class="testimonial-2">
      <p>Sounds like a fair request... so we went to our manufacturer and asked if this was possible. We got a big “NO.”</p>
      <p>Our manufacturer bakes our cereal one flavor at a time. The cereal needs to be packaged off immediately to ensure optimal shelf life, so we can’t have cereal sitting while we wait for other flavors to be produced.</p>
      <p>So, until now, trying a single cereal flavor like peanut butter meant… buying 12 bags and investing $29.99. (In fact, that’s how it is on our online store this very moment).</p>
      <p><strong>And attempting to ‘taste it all’ (6 flavors) meant… buying 72 bags!</strong></p>
      <p>But today you won’t have to do that.</p>
      <p>We’re listening to the flood of fans, like Deb and Michelle, who’ve been knocking on our door asking to…</p>
      <div class="subtitle">
        <img class="shape-1" src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/shape2.png?v=1645886899">
        <span>Try All Flavors Before Deciding Which Is Their Favorite</span>
        <img class="shape-2" src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/shape1.png?v=1645886899">
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/testimonial3.png?v=1645886569" class="testimonial-3">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/testimonial4.png?v=1645886569" class="testimonial-4">
      <p>So after months of asking our product team to put their heads together, it’s finally happening.</p>
      <p>We’re coming out with a ‘4-Flavor Starter Kit’</p>
      <p>You get the 4 best selling flavors.</p>
      <p><strong>And you get to try them for free</strong> (on us, you just cover  shipping).</p>
      <p><strong>It’s a special marketing test for which we’ve set aside a few shelves at our warehouse.</strong></p>
      <p>You could probably imagine the logistical hoops it takes to… open a box of each flavor, pull out one bag, repackage 4 flavors into a new custom case, and send it off to your door. We had to hire extra helping hands to make all this happen.</p>
      <p>What all this means is, our product team might lose their marbles and ask us to halt this marketing test.</p>
      <p>That’s why it’s a good idea to ‘taste it all’ -- every flavor from the Cereal School <strong>sent to your door for free.</strong></p>
      <div class="subtitle">
        This Generous “FREE” Deal Won’t Last Forever…
      </div>
      <p>It’s real. We’ve already sold out 4 times in the last year, then 10 days after Valentine’s Day we sold out again!</p>
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Screen_Shot_2020-08-08_at_12.02.42_AM_large.png?v=1596843510" class="testimonial-5">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/image_53_large.png?v=1596845214" class="testimonial-6">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Screen_Shot_2020-08-08_at_12.04.50_AM_large.png?v=1596843684" class="testimonial-6">
      <p>What’s more, we’ve never offered to ship out this guilt-free cereal for free before. Let alone ship out all 4 flavors.</p>
      <p>Frankly, I’m a little worried that too many people will sign up for this “Free” Deal that we’ll be overwhelmed with orders -- and <strong>may have to take this page down until we restock our warehouse.</strong></p>
      <p>So if you’ve read this far, do <a href="#top">click here so we ship out Your Free 4-Flavor Starter Kit</a> before we run out again.</p>
    </div>
    <a href="#" class="btn btn-flavor-select">Try 4 Flavors For FREE</a>
    <div class="product-disclaimer">
      <p><strong>We’ll Pay For It, You Cover Shipping</strong> Limited time only (while supplies last)</p>
    </div>
  </div>
</div>