<div class="container">
  <h2 class="title">{{ section.settings.title }}</h2>
  <div class="image-and-text-wrap">
    <div class="content">{{ section.settings.content1 }}</div>
    <div class="image-wrap">
      <img src="{{ section.settings.image | img_url: '768x' }}" alt="catch-main-image">
    </div>
  </div>
  <div style="text-align: left;">
    {{ section.settings.content2 }}
  </div>
  <a href="#" class="btn btn-flavor-select">Try 4 Flavors For FREE</a>
  <div class="product-disclaimer">
    <p><strong>We’ll Pay For It, You Cover Shipping</strong><br>Limited time only (while supplies last)</p>
  </div>
</div>
{% schema %}
{
  "name": "Cereal Free Catch",
  "class": "cereal-free-catch ytlander-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "content1",
      "label": "Content 1"
    },
    {
      "type": "richtext",
      "id": "content2",
      "label": "Content 2"
    }
  ]
}
{% endschema %}