<div class="container">
  <h2 class="title">{{ section.settings.title }}</h2>
  <div class="subtitle">{{ section.settings.subtitle }}</div>
  <div class="review-images">
    <div class="half-column">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Tarra_Woelfle.png?v=1632160363" alt="review image">            
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Rod_Cozad.png?v=1632160413" alt="review image">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Carolyn_Mullaney.png?v=1632160436" alt="review image">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/debra_b9fc266b-91fa-46d9-8589-aa4e0cd4f753.png?v=1632160454" alt="review image">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Cole_Cross.png?v=1632160496" alt="review image">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Cynthia_Jarvi.png?v=1632160534" alt="review image">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Denise_Mullis.png?v=1632160579" alt="review image">
    </div>
    <div class="half-column">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Arlene_Pearlman.png?v=1632160612" alt="review image">            
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Andre_Cox.png?v=1632160640" alt="review image">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Vicki_Soran.png?v=1632160674" alt="review image">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Teena_Miller.png?v=1632160716" alt="review image">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Teri_Shinn.png?v=1632160745" alt="review image">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Brandy_Lynn_Matherne-Mangus.png?v=1632160790" alt="review image">
    </div>   
  </div>
  <a href="/products/keto-puffs" class="btn btn-select-flavors">Pick Your Flavors</a>
</div>
{% schema %}
{
  "name": "YT Lander 6",
  "class": "ytlander-6 ytlander-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ]
}
{% endschema %}