{% section 'article-template' %}
{% section 'miss-sour-section1' %}
<div class="miss-sour-seen-in">
  <div class="container--slim sour-cream-1">
    <div class="seen-in-img">
      <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/as_seeen_in_blue_copy.png?v=1632423111" alt="seen in">
    </div>
    <a href="https://schoolyardsnacks.com/products/keto-puffs?ut=gdn" class="btn btn-flavor-select">Get Yours Now</a>
  </div>
</div>

{% section 'miss-sour-section2' %}

<div id="shopify-section-miss-sour-section2" class="miss-sour-compare-section">
  <div class="container--slim">
    <h2 class="title">How Do They Compare To Your Regular Store-bought Variety?</h2>
    <div class="subtitle" style="text-align: left;">
      <br>
      <p>At Schoolyard Snacks, we make Sour Cream & Onion chips that are legitimately good for you.<br></p>
      <p>One bag has just 1 net carb, 100 calories, and a whopping 13g protein!<br></p>
      <p>Here’s how 1 bag of Schoolyard Snacks’ Sour Cream & Onion Puffs compares to your regular store-bought variety:<br></p>
    </div>
    <p><span style="font-weight: 400;"><img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/Screen_Shot_2021-06-24_at_9.40.18_PM_480x480.png?v=1624625930" alt=""></span></p>
    <a href="https://schoolyardsnacks.com/products/keto-puffs?ut=gdn" class="btn btn-flavor-select">Get Yours Now</a>
  </div>
</div>


{% section 'miss-sour-section3-2' %}
<div class="ps-section container--slim">
  <p>P.S. Don’t wait too long, because our raving fans have caused these chips to sell out 4 times already!</p>
</div>

<script>
  imageSwiper = new Swiper($('.ytlander-4 .image-slider1'), {
    effect: 'slide',
    loop: true,
    centeredSlides: true,
    slidesPerView: 1,
    spaceBetween: 48,
    navigation: {
      nextEl: '.swiper__button--next1',
      prevEl: '.swiper__button--prev1',
    }
  });

  imageSwiper = new Swiper($('.ytlander-4 .image-slider2'), {
    effect: 'slide',
    loop: true,
    centeredSlides: true,
    slidesPerView: 1,
    spaceBetween: 48,
    autoHeight: true,
    navigation: {
      nextEl: '.swiper__button--next2',
      prevEl: '.swiper__button--prev2',
    }
  });
</script>