<div class="yippee-content">  
  <div class="yippee-header"><img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/thank_you.png?v=1637955263" alt="Thank you"></div>
  <div class="main-image">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/1_text_1_1.png?v=1637879435" alt="Thank you">
  </div>
  <div class="yippee-footer">
    <img src="https://cdn.shopify.com/s/files/1/0048/4330/7123/files/image_5_1b7fc2e7-f830-48db-b6ef-0df6794af313.png?v=1637879501" alt="Thank you">
  </div>
</div>